/* Start - font-family variables */
/* End - font-family variables */
.darkPurple {
  color: #120437 !important; }

.lightPurpleBackground {
  background-color: #4d3373; }
  .lightPurpleBackground h2.block {
    color: white !important;
    font-size: 3rem; }
  .lightPurpleBackground h2, .lightPurpleBackground h3, .lightPurpleBackground h4 {
    color: white; }
  .lightPurpleBackground p {
    color: white; }

.darkPurpleBackground {
  background-color: #120437; }
  .darkPurpleBackground h3 {
    color: #ffa200; }
  .darkPurpleBackground p {
    color: white; }

.orangeBackground {
  background-color: #ffa200; }

.pinkBackground {
  background-color: #fd0083; }
  .pinkBackground h2, .pinkBackground h3, .pinkBackground h4 {
    color: white; }

.padding32 h3.block {
  line-height: 3rem;
  padding-top: 0 !important;
  padding-bottom: 0.5rem !important;
  margin-top: 0 !important; }

.button.orange {
  background-color: #ffa200;
  color: white; }

.photoTips.setHeight, .photoTipsNav.setHeight {
  height: 35rem;
  overflow: hidden; }

.photoTips.orangeBackground h2, .photoTips.orangeBackground h3, .photoTips.orangeBackground h4, .photoTips.orangeBackground p {
  color: #272e35; }

.photoTips ul, .photoTipsNav ul {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none; }

.photoTips {
  padding: 2rem 0rem; }
  .photoTips ul li {
    padding: 0 4rem;
    height: inherit; }
    .photoTips ul li p {
      font-size: 1.75rem;
      line-height: 2.5rem; }
  .photoTips .orbit-container {
    overflow: visible !important; }
    .photoTips .orbit-container .orbit-prev {
      left: 0; }
    .photoTips .orbit-container .orbit-bullets-container {
      display: none;
      margin-top: -2.5rem; }
      .photoTips .orbit-container .orbit-bullets-container .orbit-bullets {
        margin: 0 auto; }
        .photoTips .orbit-container .orbit-bullets-container .orbit-bullets li {
          background-color: white;
          margin-right: 1rem;
          height: 0.83rem;
          width: 0.83rem; }
        .photoTips .orbit-container .orbit-bullets-container .orbit-bullets .active {
          background-color: #4d3373; }

.touch .photoTips .orbit-bullets {
  display: inline-block; }

.vividComp p:first-child {
  margin-top: 1rem !important; }
.vividComp .setHeight {
  height: 35rem; }

.photoTipsNav {
  padding: 2rem 1rem; }

.photoTipsNav ul li {
  position: relative;
  padding: 0 0 0 1.75rem; }
  .photoTipsNav ul li:before {
    content: "";
    position: absolute;
    width: 1.125rem;
    height: 1rem;
    top: 0.25rem;
    left: 0;
    background-image: url("img/icons.png");
    background-position: -308px -288px; }
  .photoTipsNav ul li p {
    font-size: 1.025rem;
    line-height: 1.25rem;
    font-family: "Inconsolata", sans-serif !important; }
    .photoTipsNav ul li p a {
      color: white; }
.photoTipsNav ul .active:before {
  background-position: -308px -258px; }

.locationBubbleWrapper.photoSpots {
  background-color: #272e35;
  height: auto;
  width: 100%; }
  .locationBubbleWrapper.photoSpots .contentHolder {
    height: auto;
    width: 100%;
    padding-top: 1rem;
    overflow: scroll; }
    .locationBubbleWrapper.photoSpots .contentHolder p {
      padding: 0 1rem 1rem 1rem;
      line-height: 1.25rem;
      font-size: 1rem;
      font-family: "Inconsolata", sans-serif !important;
      color: #59acb3; }
  .locationBubbleWrapper.photoSpots .textHolder {
    height: 5rem;
    background-color: #ffa200; }
    .locationBubbleWrapper.photoSpots .textHolder span, .locationBubbleWrapper.photoSpots .textHolder h5 {
      color: #612e74 !important; }

.vividPromo .infoRibbon {
  position: absolute;
  top: 7rem;
  z-index: 10;
  height: 3.125rem;
  width: 100%;
  overflow: hidden; }
.vividPromo h3.block span {
  font-family: inherit !important; }
.vividPromo .promoText p {
  font-size: 1.375rem;
  line-height: 1.5rem; }
  .vividPromo .promoText p:first-child {
    padding-top: 3rem; }
.vividPromo .promoText .sponsor {
  font-size: 0.83rem;
  line-height: 1.5rem;
  padding-top: 2rem;
  font-family: "Inconsolata", sans-serif !important;
  font-weight: 700; }
.vividPromo .floated {
  position: absolute;
  z-index: 20;
  bottom: 2rem;
  right: 2rem; }

@media only screen and (min-width: 40.063em) and (max-width: 64em), (max-width: 74.938em) {
  .photoTips.setHeight, .photoTipsNav.setHeight {
    height: 45rem; }

  .photoTips {
    padding: 2rem 0rem; }
    .photoTips ul li {
      padding: 0 4rem;
      height: inherit; }
      .photoTips ul li p {
        font-size: 1rem;
        line-height: 1.5rem; }
    .photoTips .orbit-bullets-container {
      display: block; }

  .vividComp .setHeight {
    height: 40rem; } }
@media only screen and (max-width: 60.313em) {
  .vividPromo .infoRibbon {
    position: absolute; }
  .vividPromo h3.block span {
    font-family: inherit !important; }
  .vividPromo .floated {
    position: relative; }

  .photoTips.setHeight, .photoTipsNav.setHeight {
    height: auto;
    overflow: hidden; }
    .photoTips.setHeight .orbit-bullets-container, .photoTipsNav.setHeight .orbit-bullets-container {
      display: block; }

  .vividComp .setHeight {
    height: auto; } }
@media only screen and (max-width: 40em) {
  .vividPromo .infoRibbon {
    position: absolute; }
  .vividPromo h3.block span {
    font-family: inherit !important; }
  .vividPromo .floated {
    position: relative; }

  .photoTips.setHeight, .photoTipsNav.setHeight {
    height: auto;
    overflow: hidden; }
    .photoTips.setHeight .orbit-bullets-container, .photoTipsNav.setHeight .orbit-bullets-container {
      display: block; }

  .vividComp .setHeight {
    height: auto; } }
