php_value short_open_tag 1

Options +FollowSymLinks
RewriteEngine On

#removes trailing slash if not a directory
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)/$ /$1 [R=301,L]

#adds ".php" to a URL that isn't a directory or a file
#RewriteCond %{REQUEST_URI} !(\.[^./]+)$
#RewriteCond %{REQUEST_fileNAME} !-d
#RewriteCond %{REQUEST_fileNAME} !-f
#RewriteRule (.*) $1.php [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f


RewriteRule ^page/(.*)$ page.php
RewriteRule ^route/(.*)$ route.php
RewriteRule ^home(.*)$ index.php
RewriteRule ^home/(.*)$ index.php
RewriteRule ^gallery/(.*)$ gallery.php
RewriteRule ^gallery(.*)$ gallery.php
RewriteRule ^events/(.*)$ events.php
RewriteRule ^events(.*)$ events.php
RewriteRule ^events(.*)$ events.php
RewriteRule ^event/(.*)$ events.php
RewriteRule ^event(.*)$ events.php
RewriteRule ^itineraries(.*)$ itineraries.php
RewriteRule ^itineraries/(.*)$ itineraries.php
RewriteRule 404(.*)$ 404.php


php_flag magic_quotes_gpc off