/* Start - font-family variables
$garamond: 'adobe-garamond-pro', sans-serif !important //Adobe Typekit
$inconsolata: 'Inconsolata', sans-serif !important //Google font - normal weight = 400, bold = 700
$tungsten: 'Tungsten A', 'Tungsten B' !important  //Typography.com normal weight = 400, bold = 700
/* End - font-family variables

html, body
  font-size: 100%
  background: transparent !important

body
  padding: 1rem 0 !important

label
  clear: both
  display: block
  margin-top: 1rem
  position: relative

input, select, textarea
  clear: left
  display: block
  font-family: $inconsolata

input[type="checkbox"], input[type="radio"]
  clear: none !important
  display: inline

label
  input[type="checkbox"], input[type="radio"]
    margin: 0

.ajaxCheck
  position: absolute
  z-index: 10

input[type="text"], input[type="password"]
  width: 28rem
  height: 2rem

input[type="checkbox"] + label, input[type="radio"] + label
  margin-left: 0 !important
  margin-bottom: 0.5rem !important


textarea
  height: 15rem !important
  resize: vertical

textarea.small
  height: 2rem !important

select
  width: 28rem

.tileList
  list-style: none
  li
    float: left
    cursor: pointer
    display: inline-block
    position: relative
  [data-map-tile-selected], [data-page-tile-selected], [data-route-tile-selected]
    .imgHolder
      &:before
        position: absolute
        content: ''
        width: 2rem
        height: 2rem
        top: 3rem
        right: 1.5rem
        background-image: url('img/adminIcons.png')
        background-position: 0 -41px

.ajaxCheck
  width: 1.563rem
  height: 1.5rem
  margin-left: 0
  margin-top: 0


.ajaxCheck.okay
  &:before
    content: ''
    position: absolute
    width: 1.563rem
    height: 1.5rem
    top: 0
    left: 0
    background-image: url('img/adminIcons.png')
    background-position: 0 -16px

.ajaxCheck.problem
  &:before
    content: ''
    position: absolute
    width: 1.563rem
    height: 1.5rem
    top: 0
    left: 0
    background-image: url('img/adminIcons.png')
    background-position: -29 -16px

.photo-of-the-day
  position: absolute
  right: 2.5rem
  bottom: 0.25rem

.setPicOfTheDay
  display: inline-block

.instaImg
  position: relative
  .instaUser
    position: absolute
    z-index: 10
    top: 1rem
    left: 2rem

.mapTiles, .pageTiles
  width: 100%
  height: auto
  //padding: 1rem
  outline: 2px solid grey
  overflow: hidden


table.list
  margin-top: 1rem

.list th, .list td
  padding: 0.5rem 1rem 0.5rem 0


.google-maps
  img
    max-width: inherit

.button[disabled]
  background-color: #b7b7b7
  &:hover
    background-color: #b7b7b7


.ribbon-wrapper
  width: 5.313rem
  height: 5.5rem
  overflow: hidden
  position: absolute
  top: -0.168rem
  right: 1.125rem

.ribbon
  font: bold 0.75rem Sans-Serif
  color: #333
  text-align: center
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  position: relative
  padding: 7px 0
  left: -5px
  top: 1rem
  width: 7.5rem
  color: #fff
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3)
  &:before, &:after
    content: ""
    border-left: 3px solid transparent
    border-right: 3px solid transparent
    position: absolute
    bottom: -3px
  &:before
    left: 0
  &:after
    right: 0

.ribbon.green
  background-color: #BFDC7A
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfdc7a), to(#8ebf45))
  background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45)
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45)
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45)
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45)
  &:before, &:after
    border-top: 3px solid #6e8900

.ribbon.red
  background-color: #c10a0a
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec2727), to(#c10a0a))
  background-image: -webkit-linear-gradient(top, #ec2727, #c10a0a)
  background-image: -moz-linear-gradient(top, #ec2727, #c10a0a)
  background-image: -ms-linear-gradient(top, #ec2727, #c10a0a)
  background-image: -o-linear-gradient(top, #ec2727, #c10a0a)
  &:before, &:after
    border-top: 3px solid #891a00

.cancel
  margin-left: 2rem

a.showHide
  display: block


.marginTop10
  margin-top: 0.625rem!important

.marginTop20
  margin-top: 1.25rem!important

.marginTop40
  margin-top: 2.5rem!important

.marginTop60
  margin-top: 5rem!important


.marginBottom10
  margin-bottom: 0.625rem !important

.marginBottom20
  margin-bottom: 1.25rem !important

.marginBottom40
  margin-bottom: 2.5rem !important

.marginBottom60
  margin-bottom: 5rem !important



.paddingTop10
  padding-top: 0.625rem !important

.paddingTop20
  padding-top: 1.25rem !important

.paddingTop40
  padding-top: 2.5rem !important

.paddingTop60
  padding-top: 5rem !important


.paddingBottom10
  padding-bottom: 0.625rem !important

.paddingBottom20
  padding-bottom: 1.25rem !important

.paddingBottom40
  padding-bottom: 2.5rem !important

.paddingBottom60
  margin-bottom: 5rem !important

.paddingBottom120
  margin-bottom: 10rem !important



.paddingTopBottom10
  padding-top: 0.625rem !important
  padding-bottom: 0.625rem !important

.paddingTopBottom20
  padding-top: 1.25rem !important
  padding-bottom: 1.25rem !important

.paddingTopBottom40
  padding-top: 2.5rem !important
  padding-bottom: 2.5rem !important

.paddingTopBottom60
  padding-top: 5rem !important
  padding-bottom: 5rem !important



.paddingLeftRight10
  padding-left: 0.625rem !important
  padding-right: 0.625rem !important


.paddingLeftRight20
  padding-left: 1.25rem !important
  padding-right: 1.25rem !important
