html, body {
  font-size: 100%;
  background: transparent !important; }

body {
  padding: 2rem 0 !important; }

label {
  clear: left;
  display: block;
  margin-top: 1rem; }

input {
  clear: left;
  display: block; }

input[type="text"], input[type="password"] {
  width: 28rem;
  height: 2rem; }

input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left: 0 !important;
  margin-bottom: 0.5rem !important; }

select {
  width: 28rem; }

.tileList {
  list-style: none; }
  .tileList li {
    float: left;
    cursor: pointer;
    display: inline-block;
    position: relative; }
  .tileList [data-map-tile-selected] .imgHolder:before, .tileList [data-page-tile-selected] .imgHolder:before {
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    top: 3rem;
    right: 1.5rem;
    background-image: url("img/adminIcons.png");
    background-position: 0 0; }

.mapTiles, .pageTiles {
  width: 100%;
  height: auto;
  outline: 2px solid grey;
  overflow: hidden; }
